body {
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #ff0000;
}

h2 {
    color: #ff0000;
}

ol li {
    margin-bottom: 10px;
    font-weight: bold;
}